{% extends "base.html" %}
{% block content %}
    {% include "patient/partials/navbar.html" %}
    <div class="container col-8 mx-auto">
        <div class="text-center">
            <h1>Olá {{ user.profile }}</h1>
        </div>
        {% if treatments.exists %}
            <div class="text-center m-1">
                <h3>Suas consultas agendadas:</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Terapeuta</th>
                        <th scope="col">Dia e Horário</th>
                    </tr>
                </thead>
                <tbody>
                    {% for treatment in treatments %}
                        {% if treatment.is_active %}
                            <tr>
                                <td scope="row">{{ treatment.therapist }}</td>
                                <td scope="row">{{ treatment.schedule }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="m-3">
                <p>Você ainda não tem consultas agendadas.</p>
                <a class="btn btn-primary mb-4" href="{% url 'find_therapist' %}">Procurar profissional</a>
            </div>
        {% endif %}  
    </div>  
{% endblock content %}