<div class="card text-center">
    <div class="card-header">
      Cuidado Psi em Rede
    </div>
    <div class="card-body text-center">
      <div class="col-7 mx-auto">
        <h5 class="card-title mb-4">Aqui você encontrará ajuda nesse momento de necessidade.</h5>
        <div class="d-block d-md-none mb-5">
          <div class="m-1">
            <a class="text-decoration-none" href="{% url 'usage_agreement' %}">Termos de uso</a>
          </div>
          <div class="m-1">
            <a class="text-decoration-none" href="{% url 'privacy_policy' %}">Política de privacidade</a>
          </div>
          <div class="m-1">
            <a class="text-decoration-none" href="{% url 'about_us' %}">Quem somos</a>
          </div>
          <div class="m-1">
            <a class="text-decoration-none" href="https://www.instagram.com/rededobempsicologos/"><i class="bi bi-instagram"></i></a> 
            <a class="text-decoration-none" href="https://www.instagram.com/rededobempsicologos/">@cuidadopsiemrede</a>        
          </div>
        </div>
        
        <!-- Versão para telas médias e maiores (colunas lado a lado) -->
        <div class="row d-none d-md-flex mb-5">
          <div class="col-md-6">
            <div class="m-1">
              <a class="text-decoration-none" href="{% url 'usage_agreement' %}">Termos de uso</a>
            </div>
            <div class="m-1">
              <a class="text-decoration-none" href="{% url 'privacy_policy' %}">Política de privacidade</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="m-1">
              <a class="text-decoration-none" href="{% url 'about_us' %}">Quem somos</a>
            </div>
            <div class="m-1">
              <a class="text-decoration-none" href="https://www.instagram.com/cuidadopsiemrede/"><i class="bi bi-instagram"></i></a> 
              <a class="text-decoration-none" href="https://www.instagram.com/cuidadopsiemrede/">@cuidadopsiemrede</a>        
            </div>
          </div>
        </div>
      </div>
    <div class="card-footer text-body-secondary">
    Powered by Thiago Azevedo
    </div>
  </div>