<div class="card text-center">
    <div class="card-header">
      Rede do Bem
    </div>
    <div class="card-body text-center">
      <h5 class="card-title mb-4">Aqui você encontrará ajuda nesse momento de necessidade.</h5>
      <div class="row mb-5">
        <div class="col-6">
          <a href="#" class="">Termos de uso</a>
        </div>
      <div class="col-6">
        <a href="{% url 'about_us' %}" class="">Quem somos</a>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
    Powered by Thiago Azevedo
    </div>
  </div>