<div class="card text-center">
    <div class="card-header">
      Rede do Bem
    </div>
    <div class="card-body text-center">
      <div class="col-7 mx-auto">
        <h5 class="card-title mb-4">Aqui você encontrará ajuda nesse momento de necessidade.</h5>
        <div class="row mb-5">
          <div class="col-6">
            <div class="m-1">
              <a href="{% url 'usage_agreement' %}">Termos de uso</a>
            </div>
            <div class="m-1">
              <a href="{% url 'privacy_policy' %}">Política de privacidade</a>
            </div>
          </div>
        <div class="col-6">
          <div class="m-1">
            <a href="{% url 'about_us' %}">Quem somos</a>
          </div>
          <div class="m-1">
            <a href="https://www.instagram.com/rededobempsicologos/"><i class="bi bi-instagram"></i></a> <a href="https://www.instagram.com/rededobempsicologos/">@rededobempsicologos</a>        
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
    Powered by Thiago Azevedo
    </div>
  </div>