<div>
    <ul class="list-group">
        <li class="list-group-item">1. Entre no link do Conselho Federal de Psicologia (CFP) <a href="https://e-psi.cfp.org.br/" target="_blank">https://e-psi.cfp.org.br/</a></li>
        <li class="list-group-item">2. Faça o cadastro passa ser um profissional habilitado para atendimento online</li>
        <li class="list-group-item">3. Após realizar o cadastro, o CFP enviará para seu endereço de email um link de acesso e verificação de cadastro</li>
        <li class="list-group-item">4. Esse link deverá ser inserido na plataforma Cuidado Psi em Rede</li>
    </ul>
</div>