<div class="text-center col-md-7 mx-auto mb-4">
    <ul class="list-group">
        <li class="list-group-item"><a class="text-decoration-none" target="_blank" href="https://linktr.ee/lapiccusp?fbclid=PAZXh0bgNhZW0CMTEAAaaXn-jzg0cHbZDsOPdEJHRoEKSrpkcLuuvwdNkIVHWuB_51ov0JY8hlRrk_aem_ATGp5XGpgSJVod_xKnYK8UPLbTsuHx2RfPMj6tguttI1oIPkQ-0-3rUTfwxwYaMZ9srqa2Uj2IKTQbEBJOrLwSxM">LaPICC-USP</a></li>
        <li class="list-group-item"><a class="text-decoration-none" target="_blank" href="https://iris.paho.org/bitstream/handle/10665.2/7676/9788579670947_por.pdf?sequence=1&isAllowed=y">Primeiros Cuidados Psicológicos: guia para trabalhadores de campo</a></li>
        <li class="list-group-item"><a class="text-decoration-none" target="_blank" href="https://www.artmed.com.br/artigos/artmed-disponibiliza-conteudos-de-apoio-para-profissionais-da-saude-em-situacoes-emergencias">Artmed</a></li>
        <li class="list-group-item"><a class="text-decoration-none" target="_blank" href="https://www.youtube.com/watch?v=ns0hHAYC_Hc">Artmed - vídeo</a></li>
        <li class="list-group-item"><a class="text-decoration-none" target="_blank" href="https://drive.google.com/file/d/12eReaiXibpkfjA0bV-5ANdMo0UnMMa0n/view?usp=sharing">Nota técnica do CFP</a></li>
        <li class="list-group-item"><a class="text-decoration-none" target="_blank" href="https://drive.google.com/file/d/1pa7_q10ieQw4mfeJa0cBB46BC6Z_Kw-6/view?usp=sharing">Manual da OMS/OPAS</a></li>
    </ul>
</div>