{% load widget_tweaks %}
<form hx-post="{% url 'create_calendar' %}"
    hx-target="#calendar_created"
    hx-swap="beforeend"
    hx-on="htmx:afterRequest: this.remove()"
    hx-trigger="click from:#submit-all">
    {% csrf_token %}
    <div class="row">
        {% for field in form %}        
            <div class="col-4 col-md-3 my-2 mx-auto">
                <label for="{{ field.id_for_label }}">{{field.label_tag}}</label>
                {% render_field field class="form-control" %}                
            </div>
        {% endfor %}
        <div class="col-3 align-self-end my-2">
            <button type="button" class="btn btn-danger"
                hx-on="click: this.closest('form').remove()">Cancelar</button>
        </div>
    </div>
</form>