{% extends "base.html" %}
{% block content %}
{% if user.profile.crp %}
    {% include "therapist/partials/navbar.html" %}
{% elif user.profile.age %}
    {% include "patient/partials/navbar.html" %}
{% else %}
    {% include "partials/navbar.html" %}
{% endif %}
{% load widget_tweaks %}
<div class="container mt-4">
    <div class="col-md-10 mx-auto">
        <h2 class="text-center">Recuperar senha</h2>
        <p class="text-center my-3">Esqueceu sua senha? Insira abaixo seu e-mail e enviaremos as intruções para você recuperar sua senha</p>
        <div class="mx-auto">
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                <div class="form-row field-email">
                    {{ form.email.errors }}
                    <div class="flex-container text-center mx-auto col-md-6">
                    {% render_field form.email class="form-control" placeholder="Insira seu e-mail" %}
                    </div>
                </div>
                </fieldset>
                <div class="submit-row text-center my-3">
                <input class="btn btn-primary" type="submit" value="Recuperar senha">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}