{% extends "base.html" %}
{% block content %}
{% if user.profile.crp %}
    {% include "therapist/partials/navbar.html" %}
{% elif user.profile.age %}
    {% include "patient/partials/navbar.html" %}
{% else %}
    {% include "partials/navbar.html" %}
{% endif %}
<div class="container my-4 text-center col-md-8 mx-auto">
    <h3>Sua senha foi alterada.</h3>
    <p>Você pode retornar e fazer seu login.</p>
    <a class="btn btn-primary" href="{% url 'login' %}">Entrar</a>
</div>

{% endblock content %}