{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% if user.profile.crp %}
    {% include "therapist/partials/navbar.html" %}
{% elif user.profile.age %}
    {% include "patient/partials/navbar.html" %}
{% else %}
    {% include "partials/navbar.html" %}
{% endif %}

<div class='container my-4'>
    <div class="text-center col-md-10 mx-auto">
        <h2 class="mb-4">Confirme sua nova senha</h2>
        {% if validlink %}
        <p>Por favor, insira sua senha duas vezes para verificarmos se não há erro de digitação.</p>
        <div>
            <form method="post">{% csrf_token %}             
                <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <div class="flex-container col-md-8 mx-auto">
                        <p>Nova senha: {% render_field form.new_password1 class="form-control" %}</p>
                    </div>
                    
                    <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <div class="flex-container col-md-8 mx-auto">
                        <p>Confirme a senha: {% render_field form.new_password2 class="form-control" %}</p>
                    </div>
                </div>
                <div class="submit-row mx-auto text-center">
                    <input  class="btn btn-primary"type="submit" value="Mudar minha senha">
                </div>
            </form>
        </div>
        {% else %}
            <p>O link para recuperação da senha é inválido, possivelmente já foi usado. Por favor, solicite a recuperação de senha novamente.</p>
        {% endif %}
    </div>
</div>



{% endblock content %}