{% extends "base.html" %}
{% load static %}
{% block content %}
{% load static %}
{% if user.profile.crp %}
    {% include "therapist/partials/navbar.html" %}
{% elif user.profile.age %}
    {% include "patient/partials/navbar.html" %}
{% else %}
    {% include "partials/navbar.html" %}
{% endif %}

<div class="container col-md-11 mx-auto">
    <div class="text-center m-4">
        <h1>Sobre nós</h1>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-3">
                <img src="{% static 'images/debora.png' %}" alt="Foto da Débora Azevedo" class="rounded-circle img-fluid">
            </div>
            <div class="col-md-9">        
                <p><strong>Dra. Débora Candido de Azevedo</strong>, Doutora em Pediatria e Ciências aplicadas à Pediatria 
                    pela Universidade Federal de São Paulo (UNIFESP), Psicóloga Clínica e Mestre em Educação, 
                    Master em Brainspotting (Terapia de reprocessamento de traumas). Ampla experiência acadêmica 
                    nas disciplinas de Atenção Psicossocial, Aconselhamento Psicológico e Plantão psicológico. 
                    Vice-presidente da SEPQ (Sociedade de Estudos e Pesquisas Qualitativos). Supervisora clínica do Cuidado Psi em Rede.</p>
            </div>
        </div>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-9 order-md-1 order-2">
                <p><strong>Simone Silvestrini Hallak</strong>, Psicóloga Clínica com Formação em Terapia Cognitiva Comportamental em Adulto, 
                    Criança e Adolescente , Orientadora Vocacional e Administradora de Empresa.  20 anos de experiência na área de Gestão de 
                    Pessoas  em empresas Globais atuando nas áreas de Diversidade , Inclusão e  Recursos Humanos. 
                    Nos últimos 6 anos atuando como psicóloga clínica com adolescentes, adultos e Orientadora Vocacional.</p>
            </div>
            <div class="col-md-3 order-md-2 order-1">
                <img src="{% static 'images/simone.PNG' %}" alt="Foto da Simone Silvestrini" class="rounded-circle img-fluid">       
            </div>
        </div>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-3">
                <img src="{% static 'images/thiago.JPG' %}" alt="Foto do Thiago Azevedo" class="rounded-circle img-fluid">
            </div>
            <div class="col-md-9">        
                <p><strong>Thiago Azevedo Rodrigues de Oliveira</strong>, professor de história em transição para a área de Tecnologia da Informação. 
                    Embora sua trajetória sempre tenha sido nas ciências humanas, encontrou na programação uma forma de unir conhecimentos 
                    e paixões. Ao juntar-se a este grupo, objetivo tornou-se criar ferramentas que promovam conexões 
                    significativas entre as pessoas e ofereçam alívio aos desafios do dia a dia.</p>
            </div>
        </div>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-9 order-md-1 order-2">
                <p><strong>Hildo Hudson Rocha</strong>, Formado pela Universidade Federal de Minas Gerais (UFMG) e atua como empresário de 
                    tecnologia e estratégia corporativa, além de ser conselheiro corporativo e de startups homologado pelo governo brasileiro. 
                    Atua em suas empresas de tecnologia da informação e inovação e dedica parte de seu tempo a projetos de inclusão e apoio ao 
                    empreendedorismo brasileiro. Também atua como mentor de startups de base tecnológica e voluntário em programas para empreendedores 
                    carentes no início de sua jornada, além de participar de projetos sociais com agendas compatíveis com suas atividades principais..</p>
            </div>
            <div class="col-md-3 order-md-2 order-1">
                <img src="{% static 'images/Hildo.png' %}" alt="Foto do Hildo Rocha" class="rounded-circle img-fluid">       
            </div>
        </div>
    </div>
</div>
{% endblock content %}