{% extends "base.html" %}
{% block content %}
{% load static %}
{% if user.profile.crp %}
    {% include "therapist/partials/navbar.html" %}
{% elif user.profile.age %}
    {% include "patient/partials/navbar.html" %}
{% else %}
    {% include "partials/navbar.html" %}
{% endif %}

<div class="container col-12 mx-auto">
    <div class="text-center m-4">
        <h1>Sobre nós</h1>
    </div>
    <div class="mx-auto col-8 m-4 text-center">
        <h6>A Rede do Bem foi fundada em 2020 com a missão de oferecer ajuda psicológica gratuita às 
            pessoas na linha de frente no combate à pandemia de Coronavírus.  É um grupo de psicólogos voluntários de São Paulo 
            que se organiza em situações de Emergência e Desastres.</h6>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-3">
                <p>foto1</p>
            </div>
            <div class="col-md-9">        
                <p>Dra. Débora Candido de Azevedo, Doutora em Pediatria e Ciências aplicadas à Pediatria 
                    pela Universidade Federal de São Paulo (UNIFESP), Psicóloga Clínica e Mestre em Educação, 
                    Master em Brainspotting (Terapia de reprocessamento de traumas). Ampla experiência acadêmica 
                    nas disciplinas de Atenção Psicossocial, Aconselhamento Psicológico e Plantão psicológico. 
                    Vice-presidente da SEPQ (Sociedade de Estudos e Pesquisas Qualitativos).</p>
            </div>
        </div>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-9 order-md-1 order-2">
                <p> Simone Silvestrini Hallak, Psicóloga Clínica com Formação em Terapia Cognitiva Comportamental em Adulto, 
                    Criança e Adolescente , Orientadora Vocacional e Administradora de Empresa.  20 anos de experiência na área de Gestão de 
                    Pessoas  em empresas Globais atuando nas áreas de Diversidade , Inclusão e  Recursos Humanos. 
                    Nos últimos 6 anos atuando como psicóloga clínica com adolescentes, adultos e Orientadora Vocacional.</p>
            </div>
            <div class="col-md-3 order-md-2 order-1">
                <p>foto2</p>        
            </div>
        </div>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-3">
                <p>foto3</p>
            </div>
            <div class="col-md-9">        
                <p>Thiago Azevedo Rodrigues de Oliveira. Um professor de história ansioso
                    para fazer parte do dinâmico campo da programação, trago uma combinação única de habilidades e perspectivas que
                    me destacam. Minha jornada como educador aprimorou minha capacidade de desmembrar
                    conceitos complexos em componentes compreensíveis, promovendo o pensamento crítico
                    e habilidades de resolução de problemas em meus alunos. Agora, estou animado para aplicar essas
                    forças pedagógicas ao mundo da codificação e desenvolvimento.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}