{% extends "base.html" %}
{% block content %}
{% if user.profile.crp %}
    {% include "therapist/partials/navbar.html" %}
{% elif user.profile.age %}
    {% include "patient/partials/navbar.html" %}
{% else %}
    {% include "partials/navbar.html" %}
{% endif %}

<div class="container col-12 mx-auto">
    <div class="text-center m-4">
        <h1>Sobre nós</h1>
    </div>
    <div class="mx-auto col-8 m-4 text-center">
        <h6>A Rede do Bem foi fundada em 2020 com a missão de oferecer ajuda psicológica gratuita às 
            pessoas na linha de frente no combate à pandemia de Coronavírus.  É um grupo de psicólogos voluntários de São Paulo 
            que se organiza em situações de Emergência e Desastres.</h6>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-3">
                <p>foto1</p>
            </div>
            <div class="col-md-9">        
                <p>Dra. Débora Candido de Azevedo, Doutora em Pediatria e Ciências aplicadas à Pediatria 
                    pela Universidade Federal de São Paulo (UNIFESP), Psicóloga Clínica e Mestre em Educação, 
                    Master em Brainspotting (Terapia de reprocessamento de traumas). Ampla experiência acadêmica 
                    nas disciplinas de Atenção Psicossocial, Aconselhamento Psicológico e Plantão psicológico. 
                    Vice-presidente da SEPQ (Sociedade de Estudos e Pesquisas Qualitativos).</p>
            </div>
        </div>
    </div>
    <div class="card mb-3 text-dark bg-light border-light mx-auto col-8">
        <div class="card-body row">
            <div class="col-md-9">
                <p> Simone é..  Candido de Azevedo, Doutora em Pediatria e Ciências aplicadas à Pediatria pela Universidade Federal de São Paulo (UNIFESP), Psicóloga Clínica e Mestre e</p>
            </div>
            <div class="col-md-3">
                <p>foto2</p>        
            </div>
        </div>
    </div>
</div>
{% endblock content %}