{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% if user.profile.crp %}
    {% include "therapist/partials/navbar.html" %}
{% else %}
    {% include "patient/partials/navbar.html" %}
{% endif %}
<div class="container col-10">
<form method='post'>
    {% csrf_token %}
        {% for field in form %}        
            {% if field.name == 'old_password' %}                
                <p class='mt-3'>Senha antiga</p>
                {% render_field field class="form-control" %}
            {% elif field.name == 'new_password1' %}                
                <p class='mt-3'>Nova senha</p>
                {% render_field field class="form-control" %}
            {% elif field.name == 'new_password2' %}                
                <p class='mt-3'>Confirme a nova senha</p>
                {% render_field field class="form-control" %}
            {% endif %}         
        {% endfor %}   
    <div class="text-center">
        <input type="submit" class="btn btn-primary m-3" value="Mudar senha">
    </div>
</form>
</div>
{% endblock content %}