<!DOCTYPE html>
<html>
    <head>
        <title>Nova consulta marcada</title>
    </head>
    <body>
        {% load static %}
        <div class="container">
            <h2>Você tem uma nova consulta!</h2><br>
            <h3>Você agendou uma consulta com <b>{{ therapist }}: {{ schedule }}</b>.</h3>
            <p>Agora você pode entrar em contato pelo whatsapp: <b>{{ therapist_whatsapp }}</b> e combinar como vocês conversarão.</p> 
            <p>Lembre-se de mandar uma mensagem com antecedência, se possível, se apresentando.</p><br>
            <img alt="Logo" class="img-fluid" style="height: 40px; width: auto; object-fit: contain;" src="https://www.cuidadopsi.com.br/static/images/logonav.png"><p>Cuidado Psi em Rede</p>
        </div>
    </body>
</html>