{% extends "base.html" %}
{% block content %}
{% include "patient/partials/navbar.html" %}
{% if not options %}
    <div class="text-center m-4">
        <h3>Não há atendimentos marcados</h3>
    </div>
{% elif options %}
    <div class="m-4 col-6 mx-auto">
        <div class="text-center">
            <h3>Suas consultas marcadas</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" width="60%">Terapeuta</th>
                    <th scope="col">Dia e Horário</th>
                </tr>
            </thead>
            <tbody>
            {% for appointment in user.profile.patient_treatments.all %}
                {% if appointment.is_active %}               
                    <tr>
                        <td scope="row">
                                {{ appointment.therapist }}
                            </a>
                        </td>
                        <td scope="row">
                            {{ appointment.schedule }}
                        </td>                         
                    </tr>  
                {% endif %}               
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock content %}