<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <title>Agradecimento pelo trabalho voluntário na "Rede do Bem"</title>
</head>
<body>
    <div class="container mt-4">
        <h2>QUERIDO AMIGO,</h2>

           <p>À você que esteve conosco na REDE DO BEM, na ocasião da pandemia de COVID19, prestando atendimento voluntário aos profissionais de saúde, nosso MUITO OBRIGADO.</p>

            <p>Agora estamos em uma nova MISSÃO RS!</p>

            <p>Convocamos a todos para se juntarem a nós.</p><br>
            <p><strong>🧠🌟 Conheça a Cuidado Psi em Rede! 🌟🧠</strong></p> 

            <p>Fundada em 2020 como a Rede do Bem, nossa missão sempre foi oferecer ajuda psicológica gratuita. Hoje, somos a Cuidado Psi em Rede, alcançando ainda mais pessoas em momentos de necessidade.</p>

            <p>Atualmente, estamos oferecendo apoio psicológico às vítimas das enchentes no Rio Grande do Sul. Nossa equipe de psicólogos voluntários está aqui para ajudar na reconstrução e superação do trauma.</p>
            <ul class="list-group">
                <li class="list-group-item">Atendimento de Plantão Psicológico ou Intervenção Breve</li>
                <li class="list-group-item">Até 12 sessões de suporte gratuito</li>
                <li class="list-group-item">Acolhimento para moradores, parentes, turistas e socorristas</li>
            </ul>

            <p>💬 Saiba mais e como participar em nosso site: <a href="https://www.cuidadopsi.com.br">Cuidado Psi </a></p>
            <div class="d-flex align-items-center">
                <img alt="Logo" class="img-fluid" style="height: 40px; width: auto; object-fit: contain;" src="https://www.cuidadopsi.com.br/static/images/logonav.png">
                <p class="mb-0 ms-3">Equipe Cuidado Psi em Rede</p>
            </div>  
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
