<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <title>Você não terminou seu registro</title>
</head>
<body>
    <div class="container mt-4">
        <h2><b>Olá!</b></h2><br>
        <p>vimos que você tentou se cadastrar em nossa plataforma e não concluiu o processo.</p>
        <p>Encontrou alguma dificuldade? Precisa de ajuda?</p><br>
        <p>Podemos te ajudar pelo <a href="https://www.instagram.com/cuidadopsiemrede/">Instagram!</a></p><br>
        <p>Muito obrigado por se juntar a nós nessa importante missão, um grande abraço.</p><br>
        <div class="d-flex align-items-center">
            <img alt="Logo" class="img-fluid" style="height: 40px; width: auto; object-fit: contain;" src="https://www.cuidadopsi.com.br/static/images/logonav.png">
            <p class="mb-0 ms-3">Equipe Cuidado Psi em Rede</p>
        </div>    
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
