<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
        <title>Nova consulta marcada</title>
    </head>
    <body>
        {% load static %}
        <div class="container">
            <h2>Olá, bem-vindo!</h2><br>
            <h3>Você agendou uma consulta com <b>{{ therapist }}: {{ schedule }}</b>.</h3>
            <p>Agora você pode entrar em contato pelo whatsapp: <b>{{ therapist_whatsapp }}</b> e combinar como serão os atendimentos.</p> 
            <p>Lembre-se de mandar uma mensagem com antecedência para se apresentar e confirmar o atendimento.</p><br>
            <p>Esperamos que todos fiquem bem e um grande abraço</p><br>
            <img alt="Logo" class="img-fluid" style="height: 40px; width: auto; object-fit: contain;" src="https://www.cuidadopsi.com.br/static/images/logonav.png"><p>Equipe Cuidado Psi em Rede</p>
        </div>
    </body>
</html>