<!DOCTYPE html>
<html>
    <body>
        {% load static %}
        <div class="container">
            
            <p>Você recebeu esse e-mail porque solicitou a recuperação de sua senha no Cuidado Psi em Rede.</p>
            <p>por favor, clique no link abaixo para abrir uma nova página e escolher uma nova senha:</p>
            <div>
            {% block reset_link %}
            http://127.0.0.1:8000{% url 'password-reset-confirm' uidb64=uid token=token %}
            </div>
            <div>
            Seu nome de usuário, caso tenha esquecido: {{ user.get_username }}
            </div>
            <div>
            Obrigado por utilizar nosso portal! 
            </div>
            {% endblock %}
            

            <p><img alt="Logo" class="img-fluid" style="height: 40px; width: auto; object-fit: contain;" src="https://www.cuidadopsi.com.br/static/images/logonav.png">Cuidado Psi em Rede</p>
        </div>
    </body>
</html>