<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <title>Supervisão com a dra Débora Azevedo</title>
</head>
<body>
    <div class="container mt-4">
        <h2><b>Queridos colegas,</b></h2><br>
        <p>Obrigada por se juntarem a nós nesta missão de solidariedade.</p>
        <p>Ainda não fizemos uma ampla divulgação para cadastramento de pacientes pelas redes sociais porque estávamos cadastrando os terapeutas voluntários. </p>
        <p>Porém já iremos iniciar as supervisões que serão realizadas às terças-feiras das 12 às 13h e às quintas-feiras das 18 às 19h.</p>
        <p>Neste início será possível obter orientações sobre o cadastramento na plataforma, 
            tirar dúvidas sobre o e-psi ou como realizar os treinamentos de Primeiros Socorros Psicológicos (PSP).</p>
        <p>Todos serão bem-vindos, mesmo que não estejam atendendo.</p>
        <p>Você poderá acessar a reunião para supervisão clicando <a href="https://meet.google.com/kvx-hbjr-okr">aqui</a></p>
        <p>Sugerimos que salve esse link nos favoritos, pois será sempre o mesmo, e não apague esse e-mail caso precise dele novamente.</p><br>
        <p>Um grande abraço,</p>
        <p>Profa. Dra. Débora Candido de Azevedo</p>
        <div class="d-flex align-items-center">
            <img alt="Logo" class="img-fluid" style="height: 40px; width: auto; object-fit: contain;" src="https://www.cuidadopsi.com.br/static/images/logonav.png">
            <p class="mb-0 ms-3">Equipe Cuidado Psi em Rede</p>
        </div>    
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
