{% extends "base.html" %}
{% block content %}
{% include "therapist/partials/navbar.html" %}
    <div class="container col-10 mx-auto">
        <h1 class="text-center">Indisponibilizar horário</h1>
        <form method="post">
            {% csrf_token %}
            <ul class="list-group col-4 mx-auto">
                <li class="list-group-item">Dia da semana: {{ week_day }}</li>
                <li class="list-group-item">Horário: {{ schedule }}</li>
            </ul>      
            <div class="text-center m-3">            
                <button class="btn btn-primary" type="submit">Finalizar</button>
            </div>
            <input type="hidden" name="week_day" value="2">
            <input type="hidden" name="schedule" value="10">
            {% if form.errors %}{{form.errors}}{% endif %}
        </form>
    </div>
{% endblock content %}