{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% include "therapist/partials/navbar.html" %}
<div class="container col-10 mx-auto">
    <h1 class="text-center">Finalizar atendimento</h1>
    <form method="post">
        {% csrf_token %}        
        <ul class="list-group col-4 mx-auto">
            <li class="list-group-item">Paciente: {{ patient }}</li>
            <li class="list-group-item">Dia e Horário: {{ schedule }}</li>
        </ul>
        <input type="hidden" name="patient" value="{{ patient.id }}">
        <input type="hidden" name="schedule" value="{{ schedule.id }}">
        <input type="hidden" name="is_active" value="False">
        <input type="hidden" name="therapist" value={{ user.profile.id }}>
        <div class="text-center m-3">
            
            <button class="btn btn-primary" type="submit">Finalizar atendimento</button>
        </div>
        {% if form.errors %}{{form.errors}}{% endif %}
    </form>
</div>
{% endblock content %}