{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% include "partials/navbar.html" %}
<div class="container col-md-8 mx-auto">
<form method="post">
    {% csrf_token %}    
    <div class="m-4">
        <label>Nome Completo:</lable>
        {% render_field form.name class="form-control" %}
    </div>
    <div class="m-4">
        <label>Whatsapp:</lable>
            {% render_field form.whatsapp class="form-control" %}
    </div>
    <div class="m-4">
        <label>Cidade:</lable>
            {% render_field form.city class="form-control" %}
    </div>
    <div class="m-4">
        <label>UF:</lable>
            {% render_field form.uf class="form-control" %}
    </div>
    <div class="m-4">
        <label>CRP:</lable>
            {% render_field form.crp class="form-control" %}
    </div>
    <div class="m-4">
        <label>Link para termo preenchido de cadastro no e-Psi :</lable>
        {% render_field form.e_psi class="form-control" %}
    </div>
    <div class="m-4">
        <label>Plataforma preferida:</lable>
            {% render_field form.platform class="form-control" %}
    </div>
    <div class="m-4">
        <label>Está de acordo com os princípios do CRP:</lable>
            {% render_field form.crp_check class="form-control" %}
    </div>
    <div class="m-4">
        <label>Tem treinamento para emergência:</lable>
            {% render_field form.trained class="form-control" %}
    </div>
    <div class="m-4 text-center flex-row">
        <p>Concordo com o <a class="text-decoration-none" href="{% url 'contract_page' %}" target="_blank">contrato de serviço voluntário:</a></p>
        <input type="checkbox" id="id_acceptance">
    </div>
    <div class="m-4 text-center">
        <button class="btn btn-secondary btn-lg" type="submit" id="submit_button" disabled>Registrar</button>
    </div>

    {% if form.errors %}{{form.errors}}{% endif %}
</form>
</div>  
<script>
    const checkbox = document.getElementById('id_acceptance');
    const button = document.getElementById('submit_button');

        checkbox.addEventListener('change', function() {
            button.disabled = !this.checked;
            button.classList.toggle('btn-primary', this.checked);
            button.classList.toggle('btn-secondary', !this.checked);
    });
</script>
{% endblock content %}