{% extends "base.html" %}
{% block content %}
{% include "therapist/partials/navbar.html" %}
<div class="container col-11 m-1 mx-auto">
    <div class="text-center my-3">
        <h1>Olá {{ user.profile }}</h1>
    </div>    
    {% if not user.profile.calendars.exists %}
        <div class="container m-3">
            <p>Você ainda não tem horários disponibilizados.</p>            
        </div>
        <div class="text-center m-2">
            <a class="btn btn-primary mb-4" href="{% url 'new_calendar' %}">Disponibilizar horário</a>
        </div>
    {% endif %}
    {% if not treatments %}
    <div class="container m-3">
        <p>Você ainda não tem consultas marcadas.</p>            
    </div>
    {% else %}
        <div class="m-4 col-6 mx-auto mb-5">
            <div class="text-center">
                <h3>Suas consultas marcadas</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" width="70%">Paciente</th>
                        <th scope="col">Dia e Horário</th>
                    </tr>
                </thead>
                <tbody>
                {% for date in treatments.all %}
                    {% if date.is_active %}              
                        <tr>
                            <td scope="row">
                                {{ date.patient }}
                            </td>
                            <td scope="row">
                                {{ date.schedule }}
                            </td>                              
                        </tr>
                    {% endif %}               
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}    
</div> 
{% endblock content %}