{% extends "base.html" %}
{% block content %}
{% include "therapist/partials/navbar.html" %}
<div class="container col-11 m-1 mx-auto">
    <div class="text-center my-3">
        <h1>Olá {{ user.profile }}</h1>
    </div>
    {% if not treatments %}
    <div class="mx-auto text-center m-3">
        <p>Você ainda não tem consultas marcadas.</p>
        {% if user.profile.crp_check  and user.profile.trained %}
            <div class="text-center m-2">
                <a class="btn btn-primary mb-4" href="{% url 'new_calendar' %}">Disponibilizar horário</a>
            </div>
        {% else %}  
        <div class="text-center m-2">
            <p class="lead">Você não está de acordo com as diretrizes do CRP ou não tem treinamento de emergência.
                Após regularizar a sua situação, edite seu perfil para que possa continuar ajudando.
            </p>
        </div>
        {% endif %}            
    </div>    
    {% else %}
        <div class="m-4 col-md-6 mx-auto mb-5">
            <div class="text-center">
                <h3>Suas consultas marcadas</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" width="70%">Paciente</th>
                        <th scope="col">Dia e Horário</th>
                    </tr>
                </thead>
                <tbody>
                {% for date in treatments.all %}
                    {% if date.is_active %}              
                        <tr>
                            <td scope="row">
                                {{ date.patient }}
                            </td>
                            <td scope="row">
                                {{ date.schedule }}
                            </td>                              
                        </tr>
                    {% endif %}               
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}    
</div> 
{% endblock content %}