{% extends "base.html" %}
{% block content %}
{% include "therapist/partials/navbar.html" %}

<div class="container col-md-8 mx-auto my-4">    
    <div id="new_calendar_form">
        {% include "therapist/partials/new_calendar_form.html" %}
    </div>
</div>
<div class="my-4 text-center">
    <button class="btn btn-success me-2" type="submit"
        hx-get="{% url 'create_calendar' %}"
        hx-target="#new_calendar_form"
        hx-swap="beforeend">+ Adicionar horário</button>
    <button type="submit" class="btn btn-primary" id="submit-all">Disponibilizar todos</button>
</div>
<div id="calendar_created" class="text-center">
      
</div>
<div>
    {% if form.errors %}
        {% for error in form.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
</div>  

{% endblock content %}